header{
background-color: rgb(130, 199, 240);/*cor de fundo*/
color: rgb(110, 9, 114); /*cor da fonte*/
text-align: center;
max: width 800px;
margin: 0 auto;
}
main{
background-color: rgb(122, 114, 238);/*cor de fundo do texto principal*/
color: rgb(12, 29, 75);/*cor da fonte*/
text-align: center; /*alinhamento do texto*/
max-width: 800px;/*largura maxima*/
margin: 0 auto;/*margens*/
}

footer{
background-color: rgb(71, 68, 212);/* cor de fundo do radapé*/
color: rgb(55, 22, 236);/* cor da fonte*/
}